@import "tailwindcss";

@font-face {
  font-family: 'Pixeled';
  src: url('/fonts/Pixeled.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Daydream DEMO';
  src: url('/fonts/Daydream DEMO.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BoldPixels';
  src: url('/fonts/boldpixels.boldpixels.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@keyframes rainbowShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
