@import "tailwindcss";

@theme {
  --color-neutral-900: #121212;
  --font-pixeled: 'Pixeled', sans-serif;
}

html,
body {
  @apply bg-neutral-900 min-h-screen;
}

@font-face {
  font-family: 'Pixeled';
  src: url('/fonts/Pixeled.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Daydream DEMO';
  src: url('/fonts/Daydream DEMO.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BoldPixels';
  src: url('/fonts/boldpixels.boldpixels.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@keyframes rainbowShift {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.image-render-pixel {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}